<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <title>Centrales Web Application</title>

    <style>
        body {
            padding-top: 50px;
        }

        .special {
            padding-top: 50px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Système de gestion des
                responsables centrale</a>
        </div>
    </div>
</nav>


<div class="container special">

    <h2 class="h2">Ajout d'un nouveau responsable</h2>
    <div>
        <form method="post"
              th:action="@{/saveResponsable}" th:object="${responsable}">
            <div class="form-group">
                <label for="nomInput">Nom</label>
                <input
                        type="text" th:field="*{nomResponsable}" class="form-control" id="nomInput"
                        aria-describedby="nomHelp" placeholder="Saisir le nom du responsable"> <small
                    id="nomHelp" class="form-text text-muted">Merci d'écrire le nom du responsable.</small>
            </div>
            <div class="form-group">
                <label for="prenomInput">Prénom</label>
                <input
                        type="text" th:field="*{prenomResponsable}" class="form-control" id="prenomInput"
                        aria-describedby="prenomHelp" placeholder="Saisir le prénom du responsable"> <small
                    id= "prenomHelp" class="form-text text-muted">Merci d'écrire le prénom du responsable.</small>
            </div>
            <div class="form-group">
                <label for="telInput">Téléphone</label>
                <input
                        type="text" th:field="*{telResponsable}" class="form-control" id="telInput"
                        placeholder="Téléphone">
            </div>
            <div class="form-group">
                <label for="mailInput">Mail</label>
                <input
                        type="text" th:field="*{mailResponsable}" class="form-control" id="mailInput"
                        placeholder="Mail">
            </div>
            <div class="form-group">
                <label for="passwdInput">Mot de passe</label>
                <input
                        type="password" th:field="*{passwdResponsable}" class="form-control" id="passwdInput"
                        placeholder="passwd">
            </div>
            <div class="form-group">
                <label for="capaciteInput">Responsable de la centrale de</label>
                <select class="form-control" th:field="*{idCentrale}" id="dropCentrale">
                    <option th:each="centrale:${centrales}" th:value="${centrale.idCentrale}"th:text="${centrale.nomCentrale +centrale.villeCentrale}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
    </div>

</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>